{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock %}

{% block title %}
  {{ SITENAME }} | {{ SITESUBTITLE }}
{% endblock %}

{% block page_header %}
  Research Areas
{% endblock %}



{% block content %}
{% for area in RESEARCHAREAS %}
    <article class="row teaser">
      <h4 class="title">
          {{ area }}
      </h4>
      <header class="col-sm-12 text-muted">
        <ul class="list-inline">
			{% for article in articles_page.object_list %}
			{% if article.type == area %}
          <li class="list-inline-item col-sm-4" style="width: 32%; text-align:center;">
          <a href="{{ SITEURL }}/{{ article.url }}" style="width: 32%; text-align:center;">
            {% if article.cover %} {{ article.cover }} {% endif %}
            {% if article.titleshort %} {{ article.titleshort }} {% endif %}
            </a>
          </li>
          {% endif %}
		  {% endfor %}
        </ul>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}

{% endfor %}
{% endblock %}
