{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock %}

{% block title %}
  {{ SITENAME }} | {{ SITESUBTITLE }}
{% endblock %}

{% block page_header %}
  Research Areas
{% endblock %}



{% block content %}
{% for area in RESEARCHAREAS %}
    <article class="row">
    {{ area }}
      <header class="col-sm-12 text-muted">
        <ul class="list-inline">
			{% for article in articles_page.object_list %}
			{% if article.type == area %}
          <li class="list-inline-item col-sm-4">
          <a href="{{ SITEURL }}/{{ article.url }}">
            {% if article.cover %} {{ article.cover }} {% endif %}
            {% if article.titleshort %} {{ article.titleshort }} {% endif %}
            </a>
          </li>
          {% endif %}
		  {% endfor %}
        </ul>
      </header>
      
    </article>

{% endfor %}
{% endblock %}
